<div class="title">
  Cash Map
</div>

<h3>Income (per year)</h3>
<input type="number" [(ngModel)]="budget.income" />

<h3>Percentage of income paid in taxes</h3>
<input type="number" [(ngModel)]="budget.percentageOfIncomeForTaxes" />

<h3>Expenses (recurring monthly)</h3>
<button (click)="addExpense()">Add</button>
<div *ngFor="let expense of budget.expenses">
  <input type="text" placeholder="Label" [(ngModel)]="expense.label" />
  <input type="number" step="0.01" placeholder="Amount" [(ngModel)]="expense.value" />
  <button (click)="removeExpense(expense.id)">Remove</button>
</div>

<h3>Net</h3>
<p>${{this.net() | number:'1.2-2'}}</p>